

services:
  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=mongodb://db:27017
      - DB_NAME=taskflow
    depends_on:
      - db
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: frontend_app
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - app_network

  db:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongo_data:
